Tehtava-1-arvauspeli/build
Tehtava-1-arvauspeli/*.user

Tehtava-2-oliopohj-arvauspeli/build
Tehtava-2-oliopohj-arvauspeli/*.user

Tehtava-3-luokkien-perinta/build
Tehtava-3-luokkien-perinta/*.user

Tehtava-4-pankkitilit/build
Tehtava-4-pankkitilit/*.user

Tehtava-5-notifikaattori/build
Tehtava-5-notifikaattori/*.user

Tehtava-6-standardikirjasto/build
Tehtava-6-standardikirjasto/*.user

Tehtava-7-konsolisovellus/build
Tehtava-7-konsolisovellus/*.user

Tehtava-8-shakkikello/build
Tehtava-8-shakkikello/*.user