Tehtava-1-arvauspeli/build
Tehtava-1-arvauspeli/*.user

Tehtava-2-oliopohj-arvauspeli/build
Tehtava-2-oliopohj-arvauspeli/*.user

Tehtava-3-luokkien-perinta/build
Tehtava-3-luokkien-perinta/*.user

Tehtava-4-pankkitilit/build
Tehtava-4-pankkitilit/*.user